@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 270 43% 97%;
    --foreground: 259 37% 20%;
    --card: 270 43% 100%;
    --card-foreground: 259 37% 20%;
    --popover: 270 43% 100%;
    --popover-foreground: 259 37% 20%;
    --primary: 259 37% 53%;
    --primary-foreground: 270 43% 97%;
    --secondary: 270 43% 90%;
    --secondary-foreground: 259 37% 30%;
    --muted: 270 43% 90%;
    --muted-foreground: 259 20% 50%;
    --accent: 319 37% 47%;
    --accent-foreground: 270 43% 97%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 270 20% 88%;
    --input: 270 20% 92%;
    --ring: 259 37% 53%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 260 40% 15%;
    --sidebar-foreground: 270 43% 90%;
    --sidebar-primary: 270 43% 97%;
    --sidebar-primary-foreground: 260 40% 15%;
    --sidebar-accent: 260 40% 25%;
    --sidebar-accent-foreground: 270 43% 97%;
    --sidebar-border: 260 40% 25%;
    --sidebar-ring: 319 37% 47%;
  }
  .dark {
    --background: 260 20% 5%;
    --foreground: 270 43% 90%;
    --card: 260 20% 10%;
    --card-foreground: 270 43% 90%;
    --popover: 260 20% 5%;
    --popover-foreground: 270 43% 90%;
    --primary: 259 37% 63%;
    --primary-foreground: 270 43% 97%;
    --secondary: 260 20% 15%;
    --secondary-foreground: 270 43% 90%;
    --muted: 260 20% 15%;
    --muted-foreground: 270 20% 60%;
    --accent: 319 37% 57%;
    --accent-foreground: 270 43% 97%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 260 20% 15%;
    --input: 260 20% 15%;
    --ring: 259 37% 63%;
    --sidebar-background: 260 20% 10%;
    --sidebar-foreground: 270 43% 90%;
    --sidebar-primary: 270 43% 97%;
    --sidebar-primary-foreground: 260 20% 10%;
    --sidebar-accent: 260 20% 20%;
    --sidebar-accent-foreground: 270 43% 97%;
    --sidebar-border: 260 20% 20%;
    --sidebar-ring: 319 37% 57%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
